#menu{
    position: fixed;
    left: -110px;
    top: 50px;
    width: 100px;
    padding: 5px;
    background-color: aquamarine;
}

.buttons{
    width: 100%;
}

.button1{
    position: absolute;
    width: 50px;
    right: -50px;
}

#Open{
    top: 0px;
}

#Close{
    bottom: 0px;
}